<mat-card>
    <mat-card-footer style="display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    text-align: center;
">
        <p><strong>สถานกีฬาและสุขภาพ มหาวิทยาลัยเทคโนโลยีสุรนารี</strong><br>
            111, ถนน มหาวิทยาลัย ตำบล สุรนารี อำเภอเมืองนครราชสีมา นครราชสีมา 30000 <br>
            โทรศัพท์ 044-223427 โทรสาร 044-223420<br>
            © 2022 Copyright: สถานกีฬาและสุขภาพ
        </p>
    </mat-card-footer>
</mat-card>