<div class="grid-container">
    <div class="item1">
        <h1>รายการครุภัณฑ์ที่จำหน่าย</h1>
        <div style="display: flex; align-items: baseline;">
            <mat-form-field appearance="fill">
                <mat-label>กรุณาเลือกปี :</mat-label>
                <mat-select>
                    <mat-option #yearChange *ngFor="let yearSel of yearArray" [value]="yearSel"
                        (click)="onYearChange(yearChange)">
                        {{yearSel+543}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button style="margin: 10px;" (click)="onRefresh()" mat-mini-fab color="primary">
                <mat-icon>refresh</mat-icon>
            </button>
             <h4>รายการครุภัณฑ์ที่จำหน่าย <b>{{durableData.length}}</b> รายการ</h4>
            <div style="margin-top: auto;margin-left: auto;">
                <button mat-raised-button color="primary" (click)="exportAsXLSX()">
                    <i class="fs-4 bi bi-file-earmark-excel"></i>Excel</button>
                <button printTitle="Print Title" style="margin-left: 15px;" printSectionId="print-section" ngxPrint
                    type="button" mat-raised-button color="warn">
                    <i class="fs-4 bi bi-printer"></i> Print</button>
            </div>
        </div>
        <mat-card style="margin-top: 10px;">
            <!-- <div style="display: flex;align-items: center;">
                <div class="form-check" *ngFor="let cat of categories">
                    <input class="form-check-input" #inputBox (change)="onChange(cat.id, inputBox.checked) "
                        name="{{ cat.name }}" type="checkbox" id="{{cat.id}}">
                    <label style="margin-right: 15px;" class="form-check-label" for="{{cat.name}}">
                        {{cat.name}}
                    </label>
                </div>
            </div> -->
            <br>
            <form #searchForm="ngForm" (ngSubmit)="showSearch()">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>ชื่อผู้รับผิดชอบ,รหัสครุภัณฑ์,ชื่อครุภัณฑ์</mat-label>
                    <input type="search" matInput [(ngModel)]="searchDurable" name="search"
                        placeholder="ชื่อผู้รับผิดชอบ,รหัสครุภัณฑ์,ชื่อครุภัณฑ์">
                    <button matSuffix mat-icon-button aria-label="Clear" type="submit">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </mat-card>
        <div id="print-section">
            <mat-card style="margin-top: 10px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th [appSort]="durableData" data-order="desc" data-name="durable_id" scope="col">
                                รหัสครุภัณฑ์
                            </th>
                            <th [appSort]="durableData" data-order="desc" data-name="durable_name" scope="col">
                                ชื่อครุภัณฑ์
                            </th>
                            <th [appSort]="durableData" data-order="desc" data-name="name" scope="col">
                                ชื่อผู้รับผิดชอบ
                            </th>
                            <th [appSort]="durableData" data-order="desc" data-name="name" scope="col">
                                รหัสพนักงานผู้รับผิดชอบ
                            </th>
                            <th [appSort]="durableData" data-order="desc" data-name="remark" scope="col">
                                ปีที่จำหน่าย
                            </th>
                            <th [appSort]="durableData" data-order="desc" data-name="remark" scope="col">
                                หมายเหตุ
                            </th>
                            <!-- <th [appSort]="durableData" data-order="asc" data-name="check_status" scope="col">
                                สถานะครุภัณฑ์</th> -->
                            <!-- <th scope="col">
                                จัดการสถานะ
                            </th> -->
                        </tr>
                    </thead>
                    <tbody>

                        <tr style="cursor: pointer;"
                            *ngFor="let item of durableData | paginate: { itemsPerPage: limitpage, currentPage: p ,id: 'pagination-durable'}; index as i;"
                            (dblclick)="onToFormEditDurable(item.id)">
                            <td>{{ item.durable_id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.fullname || "ไม่มีผู้รับผิดชอบ"}}</td>
                            <td>{{ item.user_id }}</td>
                            <td>{{ item.year | convertYear}}</td>
                            <td>{{ item.remark || "-"}}</td>
                            <!-- <td
                                [ngClass]="{'success': (item.check_status == null ? 'ยังไม่ได้สำรวจ' : item.check_status | reportDurable) == 'ใช้งานได้', 
                        'worning': (item.check_status == null ? 'ยังไม่ได้สำรวจ' : item.check_status | reportDurable) == 'ชำรุดรอการซ่อม',
                        'error': (item.check_status == null ? 'ยังไม่ได้สำรวจ' : item.check_status | reportDurable) == 'ชำรุดเพื่อจำหน่าย',
                        'lost': (item.check_status == null ? 'ยังไม่ได้สำรวจ' : item.check_status | reportDurable) == 'สูญหาย'}">
                                {{item.check_status == null ? 'ยังไม่ได้สำรวจ' : item.check_status | reportDurable}}
                            </td> -->
                            <!-- <td>
                                <button (click)="checkStatus(item.id)" mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon">
                                    <mat-icon>settings</mat-icon>
                                </button>
                            </td> -->

                        </tr>
                    </tbody>
                </table>
                <div class="clearfix" style="display: flex;align-items: center;justify-content: space-between;">
                    <div class="hint-text">
                        แสดงข้อมูล
                        <b>
                            <select (change)="onLimitPageChange($event)">
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                                <option value="400">400</option>
                                <option value="500">500</option>
                            </select>
                        </b> แสดง {{start==null?1:start}} - {{last==null ? limitpage : last }} รายการ ทั้งหมด
                        <b>{{durableData.length}}</b> รายการ
                    </div>
                    <div style="margin-left: auto;margin-top: 10px;">
                        <pagination-controls (pageChange)="listCount($event)" (pageChange)="p=$event"
                            id="pagination-durable" previousLabel={{previousLabel}} nextLabel={{nextLabel}}>
                        </pagination-controls>
                    </div>
                </div>
            </mat-card>
        </div>

        <!-- ---------------------------------Modal-------------------------------------- -->
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStatus}"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="border-radius: 10px!important">
                    <div class="modal-header">
                        <h1>จัดการสถานะครุภัณฑ์</h1>
                        <a style="cursor:pointer;font-size: 30px;" (click)="onCloseHandled()"><span
                                aria-hidden="true">&times;</span></a>
                    </div>
                    <div class="modal-body">
                        <form #checkForm="ngForm" (ngSubmit)="onSaveStatus()">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [(ngModel)]="StatusRadios"
                                    name="StatusRadios" id="radios1" [value]="1" checked>
                                <label class="form-check-label" for="radios1">
                                    ใช้งานได้
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [(ngModel)]="StatusRadios"
                                    name="StatusRadios" id="radios2" [value]="2">
                                <label class="form-check-label" for="radios2">
                                    ชำรุดรอการซ่อม
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [(ngModel)]="StatusRadios"
                                    name="StatusRadios" id="radios3" [value]="3">
                                <label class="form-check-label" for="radios3">
                                    ชำรุดเพื่อจำหน่าย
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [(ngModel)]="StatusRadios"
                                    name="StatusRadios" id="radios4" [value]="4">
                                <label class="form-check-label" for="radios4">
                                    สูญหาย
                                </label>
                            </div>
                            <button style="margin-right: 2%;" class="btn btn-success btn-sm"
                                type="submit">แก้ไขสถานะครุภัณฑ์</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="border-radius: 10px!important">
                    <div class="modal-header">
                        <h1>แก้ไขรายการครุภัณฑ์</h1>
                        <a style="cursor:pointer;font-size: 30px;" (click)="onCloseHandled()"><span
                                aria-hidden="true">&times;</span></a>
                    </div>
                    <div class="modal-body">
                        <form #userForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="durable[0]">
                            <div class="col-md-12 bt-form">
                                <label for="list">ชื่อครุภัณฑ์</label>
                                <input id="list" name="list" class="form-control" ngModel [(ngModel)]="durable[0].name"
                                    required #name="ngModel" type="text" placeholder="ชื่อครุภัณฑ์">
                                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                                    <div *ngIf="name.errors?.['required']" class="alert-danGer ">
                                        กรุณาป้อน ชื่อครุภัณฑ์
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 bt-form subform">
                                <label for="id_durable">รหัสครุภัณฑ์</label>
                                <input id="id_durable" name="id_durable" class="form-control" ngModel
                                    [(ngModel)]="durable[0].durable_id" required #durable_id="ngModel" type="text"
                                    placeholder="รหัสครุภัณฑ์">
                                <div *ngIf="durable_id.invalid && (durable_id.dirty || durable_id.touched)">
                                    <div *ngIf="durable_id.errors?.['required']" class="alert-danGer ">
                                        กรุณาป้อน รหัสครุภัณฑ์
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 bt-form subform">
                                <label for="model">รุ่น/แบบ</label>
                                <input id="model" name="model" class="form-control" ngModel
                                    [(ngModel)]="durable[0].model" required #model="ngModel" type="text"
                                    placeholder="รุ่น/แบบ">
                                <div *ngIf="model.invalid && (model.dirty || model.touched)">
                                    <div *ngIf="model.errors?.['required']" class="alert-danGer ">
                                        กรุณาป้อน รุ่น/แบบ
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 bt-form subform">
                                <label for="serial_no">Serial No.</label>
                                <input id="serial_no" name="serial_no" class="form-control" ngModel
                                    [(ngModel)]="durable[0].serial_no" required #serial_no="ngModel" type="text"
                                    placeholder="Serial No.">
                                <div *ngIf="serial_no.invalid && (serial_no.dirty || serial_no.touched)">
                                    <div *ngIf="serial_no.errors?.['required']" class="alert-danGer ">
                                        กรุณาป้อน Serial No
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12 bt-form">
                                <label for="building">อาคารที่จัดเก็บครุภัณฑ์</label>
                                <input id="building" name="building" class="form-control" ngModel
                                    [(ngModel)]="durable[0].building" required #building="ngModel" type="text"
                                    placeholder="อาคารที่จัดเก็บครุภัณฑ์">
                                <div *ngIf="building.invalid && (building.dirty || building.touched)">
                                    <div *ngIf="building.errors?.['required']" class="alert-danGer ">
                                        กรุณาป้อน อาคารที่จัดเก็บครุภัณฑ์
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 bt-form subform">
                                <label for="location">ห้องที่จัดเก็บ</label>
                                <input id="location" name="location" class="form-control" ngModel
                                    [(ngModel)]="durable[0].location" required #location="ngModel" type="text"
                                    placeholder="ห้องที่จัดเก็บ">
                                <div *ngIf="location.invalid && (location.dirty || location.touched)">
                                    <div *ngIf="location.errors?.['required']" class="alert-danGer ">
                                        กรุณาป้อน ห้องที่จัดเก็บ
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 bt-form subform">
                                <label for="office">งานที่จัดเก็บ</label>
                                <input id="office" name="office" class="form-control" ngModel
                                    [(ngModel)]="durable[0].office" required #office="ngModel" type="text"
                                    placeholder="งานที่จัดเก็บ">
                                <div *ngIf="office.invalid && (office.dirty || office.touched)">
                                    <div *ngIf="office.errors?.['required']" class="alert-danGer ">
                                        กรุณาป้อน งานที่จัดเก็บ
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 bt-form">
                                <label for="user_id">ผู้รับผิดชอบ</label>
                                <select class="form-select" name="user_id" ngModel [(ngModel)]="durable[0].user_id"
                                    required #user_id="ngModel">
                                    <option value="">-กรุณาเลือก-</option>
                                    <option *ngFor="let user of users" [value]="user.user_id">{{user.name}}</option>
                                </select>
                                <!-- <input id="password" name="password" class="form-control" minlength="6" ngModel [(ngModel)]="user.password" required #password="ngModel" type="text" placeholder="รหัสผ่าน"> -->
                                <div *ngIf="user_id.invalid && (user_id.dirty || user_id.touched)">
                                    <div *ngIf="user_id.errors?.['required']" class="alert-danGer">
                                        กรุณาเลือก
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 bt-form">
                                <label for="fiscal_year">ปีงบประมาณ</label>
                                <input id="fiscal_year" name="fiscal_year" minlength="4" maxlength="4"
                                    class="form-control" ngModel [(ngModel)]="durable[0].fiscal_year" required
                                    #fiscal_year="ngModel" type="text" placeholder="อาคารที่จัดเก็บครุภัณฑ์">
                                <div *ngIf="fiscal_year.invalid && (fiscal_year.dirty || fiscal_year.touched)">
                                    <div *ngIf="fiscal_year.errors?.['required']" class="alert-danGer ">
                                        กรุณาป้อน อาคารที่จัดเก็บครุภัณฑ์
                                    </div>
                                    <div *ngIf="fiscal_year.errors?.['minlength']" class="alert-worNing">
                                        กรุณาป้อน ให้ครบ 4 หลัก
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 bt-form">
                                <label for="price">ราคาครุภัณฑ์</label>
                                <input id="price" name="price" class="form-control" ngModel
                                    [(ngModel)]="durable[0].price" required #price="ngModel" type="number"
                                    placeholder="ราคาครุภัณฑ์">
                                <div *ngIf="price.invalid && (price.dirty || price.touched)">
                                    <div *ngIf="price.errors?.['required']" class="alert-danGer ">
                                        กรุณาป้อน ราคาครุภัณฑ์
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 bt-form subform">
                                <label for="remark">หมายเหตุ</label>
                                <input id="remark" name="remark" class="form-control" ngModel
                                    [(ngModel)]="durable[0].remark" required #remark="ngModel" type="text"
                                    placeholder="หมายเหตุ">
                                <div *ngIf="remark.invalid && (remark.dirty || remark.touched)">
                                    <div *ngIf="remark.errors?.['required']" class="alert-danGer ">
                                        กรุณาป้อน หมายเหตุ
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-12">
                                <button style="margin-right: 2%;" class="btn btn-success"
                                    type="submit">แก้ไขรายการครุภัณฑ์</button>
                                <button class="btn btn-outline-danger" (click)="deleteDurable(durable[0].id)"
                                    type="button">ลบรายการครุภัณฑ์</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
